@model Learn2Code.Models.Course

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admins/Views/Shared/_AdminLayout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Course</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CourseDesc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CourseDesc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CourseName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CourseName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdcategoryNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdcategoryNavigation.Idcategory)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Idcourse">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
